strong {
	display: inline-block;
	line-height: 52px;
}
a.btn {
	font-size: 18px;
}
.row,
a.btn,
.popup {
	margin-bottom: 14px;
}
.title strong {
	float: left;
}
.title .addSlide {
	float: right;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}